<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDevelopmentRegion</key>
		<string>en</string>
		<key>CFBundleDisplayName</key>
		<string>AxessEQ</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>$(PRODUCT_NAME)</string>
		<key>CFBundleGetInfoString</key>
		<string></string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(MARKETING_VERSION)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>com.googleusercontent.apps.764328256526-fsipc9532r3fj8ni3rc2fa2ijai1l2tk</string>
				</array>
			</dict>
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>fb912638386530087</string>
				</array>
			</dict>
		</array>
		<key>CFBundleVersion</key>
		<string>$(CURRENT_PROJECT_VERSION)</string>
		<key>FacebookAppID</key>
		<string>912638386530087</string>
		<key>FacebookClientToken</key>
		<string>036d7da52d74d18a2f87f78699a96833</string>
		<key>FacebookDisplayName</key>
		<string>$(PRODUCT_NAME)</string>
		<key>ITSAppUsesNonExemptEncryption</key>
		<false/>
		<key>LSApplicationCategoryType</key>
		<string>public.app-category.social-networking</string>
		<key>LSApplicationQueriesSchemes</key>
		<array>
			<string>dbapi-1</string>
			<string>dbapi-3</string>
			<string>fbapi</string>
			<string>fb-messenger-share-api</string>
			<string>fbauth2</string>
			<string>fbshareextension</string>
		</array>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>NSAppTransportSecurity</key>
		<dict>
			<key>NSExceptionDomains</key>
			<dict>
				<key>localhost</key>
				<dict>
					<key>NSExceptionAllowsInsecureHTTPLoads</key>
					<true/>
				</dict>
			</dict>
		</dict>
		<key>NSCameraUsageDescription</key>
		<string>$(PRODUCT_NAME) needs access for your photo so you can upload your profile picture.</string>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string>$(PRODUCT_NAME) needs access to location so you can use proper features.</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>$(PRODUCT_NAME) needs access for your photo/documents, you can put your profile picture and upload documents.</string>
		<key>NSUserNotificationsUsageDescription</key>
		<string>$(PRODUCT_NAME) needs access to notifiction.</string>
		<key>UIAppFonts</key>
		<array>
			<string>Gilroy-Black.ttf</string>
			<string>Gilroy-Bold.ttf</string>
			<string>Gilroy-ExtraBold.ttf</string>
			<string>Gilroy-Light.ttf</string>
			<string>Gilroy-Medium.ttf</string>
			<string>Gilroy-Regular.ttf</string>
			<string>Gilroy-SemiBold.ttf</string>
		</array>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIRequiredDeviceCapabilities</key>
		<array>
			<string>armv7</string>
		</array>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
		</array>
		<key>UIViewControllerBasedStatusBarAppearance</key>
		<false/>
	</dict>
</plist>
